@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-size: 24px;
  font-weight: lighter;
  line-height: 1.6;
  background-image: url;
  background-color: #f7f5ef;
  color: #0f2851;
  text-align: center;
  padding: 25px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

h2, h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  text-align: center;
}

a{
  text-decoration: none;
  border-radius: 10px;
  box-shadow :  0 0 16px rgba(0,0,0,0.1);
}

#button_discover_le_wagon {
  text-decoration: none;
  background-color: rgb(132, 95, 206);
  color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow :  0 0 16px rgba(0,0,0,0.1);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 15px;
}

#button_discover_le_wagon:hover {
  background-color:#d9d9ed;
  transition: 0.2s ease;
}

div.title_and_photo {
	margin: 20px;
	margin-bottom: 30px;
	padding: 24px;
	border-left: 1px dotted rgba(100, 98, 98, 0.652);
	border-right: 1px dotted rgba(100, 98, 98, 0.652);
	border-bottom: 1px dotted rgba(100, 98, 98, 0.652);
	border-top: 1px dotted rgba(100, 98, 98, 0.652);
	border-radius: 10px;
	box-shadow :  0 0 16px rgba(0,0,0,0.1)
}

div.job_and_paragraph {
  margin: 30px;
	margin-bottom: 30px;
	padding: 24px;
	border-left: 1px dotted rgba(100, 98, 98, 0.652);
	border-right: 1px dotted rgba(100, 98, 98, 0.652);
	border-bottom: 1px dotted rgba(100, 98, 98, 0.652);
	border-top: 1px dotted rgba(100, 98, 98, 0.652);
	border-radius: 10px;
	box-shadow :  0 0 16px rgba(0,0,0,0.1)
}

div.links {
  margin: 30px;
	margin-bottom: 30px;
	padding: 24px;
	border-left: 1px dotted rgba(100, 98, 98, 0.652);
	border-right: 1px dotted rgba(100, 98, 98, 0.652);
	border-bottom: 1px dotted rgba(100, 98, 98, 0.652);
	border-top: 1px dotted rgba(100, 98, 98, 0.652);
	border-radius: 10px;
	box-shadow :  0 0 16px rgba(0,0,0,0.1);
}

.list-remove-bullet-points {
  list-style-type: none;
}

li{
  display: inline-block;
  margin-right: 30px;
}
